@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;
    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;
    --radius: 0.65rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
  }
  
  body {
    @apply bg-white text-gray-900;
  }
}